header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
  }
  
  
  
  #nav-links {
    display: flex;
    justify-content: space-between;
    
  } 
  
  .nav {
    height: 200px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

  
  @media only screen and (max-width: 600px) {
    header {
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position:absolute;
      top: 0;
      max-width: 100%;
      text-align: center;
      
    }
  
    .navContainer {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      margin-left: 20px;
      
    }

    
  
}