header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    
  /*   display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%; */
  }

  .navContainer{
    width: 50%;
  }
  
  
  
  #nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  } 
  
  .nav {
    height: 100px;
    background-color: #de0606;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

  
  @media only screen and (max-width: 600px) {
    header {
     /*  flex-direction: column; */
      /* display: flex; */
      justify-content: center;
      align-items: center;
     /*  position:absolute; */
     /*  top: 0; */
      max-width: 100%;
      text-align: center;
      
    }
  
    .navContainer {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      margin-left: 20px;
    
      
    }

    
  
}