/* .bg {
    background-image: url(../public/images/background.webp);
    background-size: cover;
    box-shadow: inset 10px 40px 40px rgba(0,0,0,0.9)
    
    

}
 */
body 
{width:auto}

@font-face {
    font-family: "light";
    src: local('FuturaLight'),
    url("../src/Components/Fonts/futura\ light\ bt.ttf") format('truetype');
}

@font-face {
    font-family: "lightItalic";
    src: local('FuturaLightItalic'),
    url("../src/Components/Fonts/Futura\ Light\ Italic\ font.ttf") format('truetype');
}

@font-face {
    font-family: "medium";
    src: local('FuturaMedium'),
    url("../src/Components/Fonts/futura\ medium\ bt.ttf") format('truetype');
}

@font-face {
    font-family: "heavy";
    src: local('FuturaHeavy'),
    url("../src/Components/Fonts/Futura\ Heavy\ font.ttf") format('truetype');
}

@font-face {
    font-family: "heavyItalic";
    src: local('FuturaHeavyItalic'),
    url("../src/Components/Fonts/Futura\ Heavy\ Italic\ font.ttf") format('truetype');
}

@font-face {
    font-family: "Xheavy";
    src: local('FuturaXHeavy'),
    url("../src/Components/Fonts/Futura\ XBlk\ BT.ttf") format('truetype');
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:active { text-decoration: none; }

