#navlink {
    font-family: "lightItalic"; 
    background-color: transparent;
    color: white; 
    margin:  5px auto;
    border: none;
    text-decoration: none ;
    font-size: x-large;
}

#navlink:hover {
    font-family: "heavyItalic";
    color:rgb(256, 256, 256);
}

@media only screen and (max-width: 600px) {
    #navlink{text-align:center;}
}